Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

2.2.13
  package.json
Due: none

fixed breakpoint and z-indexes
  src/timebar/components/bookmark.module.css
  src/timebar/components/playback.module.css
  src/timebar/components/timeline.module.css
  src/timebar/timebar-settings.module.css
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix

optimize activity chart
  package.json
  sandbox/package.json
  sandbox/src/timebar/mocks/activity.js
  sandbox/src/timebar/timebar.js
  sandbox/yarn.lock
  src/timebar/charts/activity.js
  src/timebar/charts/activity.module.css
  src/timebar/components/timeline.js
Due: prettier --write, stylelint --fix, eslint --fix

use css transitions for timeline units
  src/timebar/charts/activity.js
  src/timebar/components/timeline-units.js
  src/timebar/constants.js
Due: eslint --fix

added min and max range parameters
  sandbox/src/timebar/timebar.js
  src/timebar/charts/activity.js
  src/timebar/components/timeline.js
  src/timebar/timebar.js
Due: eslint --fix

added human readable dates
  sandbox/src/timebar/timebar.js
  src/timebar/utils.js
  src/timebar/utils/index.js
Due: eslint --fix

use SVG transform instead of CSS transform 🚄
  sandbox/src/timebar/timebar.js
  src/timebar/charts/activity.js
  src/timebar/charts/activity.module.css
  src/timebar/components/timeline-units.js
  src/timebar/components/timeline.js
Due: prettier --write, stylelint --fix, eslint --fix

mock basic setup
  sandbox/src/timebar/mocks/trackWithFishingSpeedAndCourse.json
  sandbox/src/timebar/mocks/trackWithSpeedAndCourse.js
  sandbox/src/timebar/timebar.js
Due: eslint --fix

remove non working breakpoint as css var
  src/timebar/components/playback.module.css
  src/timebar/timebar-settings.module.css
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix

compute max value within chart component
  sandbox/src/timebar/timebar.js
  src/timebar/charts/activity.js
  yarn.lock
Due: eslint --fix

added sandbox subchart selector
  sandbox/src/timebar/timebar.css
  sandbox/src/timebar/timebar.js
Due: prettier --write, stylelint --fix, eslint --fix

WIP - readme
  src/layermanager/README.md
Due: none

add generator types and fix typo
  src/layermanager/README.md
Due: none

add jest with default config
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix

test valid style.json
  src/layer-manager/index.js
  src/layer-manager/layer-manager.test.js
Due: eslint --fix

added configurability for area generator
  sandbox/src/timebar/timebar.js
  src/timebar/charts/activity.js
  src/timebar/charts/activity.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Basic example of react component
  package.json
  sandbox/package.json
  sandbox/src/App.js
  sandbox/src/layer-manager/layer-manager.js
  sandbox/src/layer-manager/layer-manager.module.css
  sandbox/yarn.lock
  src/layer-manager/README.md
  src/layer-manager/index.js
  src/layer-manager/layer-manager.js
  src/layer-manager/lib/index.js
  yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

Layer manager basemap generator
  sandbox/src/App.css
  sandbox/src/layer-manager/layer-manager.js
  src/layer-manager/layer-manager.js
  src/layer-manager/lib/constants.js
  src/layer-manager/lib/generators/basemap.js
  src/layer-manager/lib/generators/index.js
  src/layer-manager/lib/index.js
  src/layer-manager/utils.js
Due: prettier --write, stylelint --fix, eslint --fix

Clean deprecation warnings
  sandbox/src/layer-manager/layer-manager.js
  sandbox/yarn.lock
  src/layer-manager/lib/index.js
  src/layer-manager/lib/utils.js
  src/map/store/index.js
  yarn.lock
Due: eslint --fix

Updates layer color and opacity
  sandbox/src/layer-manager/layer-manager.js
  sandbox/src/layer-manager/layer-manager.module.css
  src/layer-manager/lib/generators/carto.js
  src/layer-manager/lib/index.js
Due: prettier --write, stylelint --fix, eslint --fix

Carto generator
  sandbox/src/layer-manager/layer-manager.js
  src/layer-manager/lib/generators/carto.js
  src/layer-manager/lib/generators/index.js
  src/layer-manager/lib/index.js
Due: eslint --fix

Carrier portal context layers needed
  sandbox/src/layer-manager/layer-manager.js
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto/carto-layers.json
  src/layer-manager/lib/generators/carto/carto.js
  src/layer-manager/lib/generators/index.js
Due: eslint --fix

layer-manager typing
  package.json
  types/components/layer-manager.d.ts
  types/index.d.ts
  yarn.lock
Due: none

Comments review
  src/layer-manager/index.js
  src/layer-manager/layer-manager.js
  src/layer-manager/lib/index.js
Due: eslint --fix

Background and basemap layers
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/basemap/basemap-layers.json
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto/carto.js
  src/layer-manager/lib/generators/index.js
Due: eslint --fix

update test
  .babelrc
  jest.init.js
  package.json
  src/layer-manager/layer-manager.js
  src/layer-manager/layer-manager.test.js
  src/layer-manager/lib/index.js
  src/layer-manager/test/layer-manager-lib.test.js
  src/layer-manager/test/layer-manager.test.js
  types/components/layer-manager.d.ts
Due: eslint --fix

sprites config
  src/layer-manager/layer-manager.js
  src/layer-manager/lib/constants.js
  src/layer-manager/lib/generators/carto/carto.js
  src/layer-manager/lib/index.js
Due: eslint --fix

sync and async generators living together
  package.json
  sandbox/src/layer-manager/layer-manager.js
  src/layer-manager/README.md
  src/layer-manager/index.js
  src/layer-manager/layer-manager.js
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
  src/layer-manager/lib/generators/carto/carto.js
  src/layer-manager/lib/generators/index.js
  src/layer-manager/lib/index.js
  src/layer-manager/lib/layer-manager-lib.js
  src/layer-manager/lib/utils.js
  src/layer-manager/test/layer-manager-lib.test.js
  yarn.lock
Due: eslint --fix

generator returns full layer spec
  .babelrc
  package.json
  src/layer-manager/layer-manager.js
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
  src/layer-manager/lib/layer-manager-lib.js
  src/layer-manager/lib/utils.js
  src/layer-manager/test/layer-manager-lib.test.js
Due: eslint --fix

Selected features in carto-polygons layer
  sandbox/src/layer-manager/layer-manager.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
Due: eslint --fix

Maintain layers order after promise is resolved
  src/layer-manager/lib/layer-manager-lib.js
Due: eslint --fix

Fix params and carto source when no visible
  src/layer-manager/lib/constants.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
  src/layer-manager/lib/index.js
  src/layer-manager/lib/layer-manager-lib.js
  src/layer-manager/test/layer-manager-lib.test.js
Due: eslint --fix

Update types and separate private and publich class generator methods
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
  types/components/layer-manager.d.ts
Due: eslint --fix

Fix sprite
  src/layer-manager/lib/layer-manager-lib.js
Due: eslint --fix

Update readme
  src/layer-manager/README.md
Due: none

comments review
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/basemap/basemap-layers.json
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
Due: eslint --fix

2.3.0
  package.json
Due: none

2.4.0
  package.json
Due: none

update wrong dependency
  package.json
  yarn.lock
Due: none
