Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

intermediate array buffers encode/decode
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/test/aggregate.test.js
Due: eslint --fix

WIP use intermediate format in worker
  src/fast-tiles-worker/index.js
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

WIP intermediate format as continuous buffer'
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/test/aggregate.test.js
  src/fast-tiles-worker/test/mocks/carriers-1-1-0.pbf
Due: eslint --fix

lower heatmap res
  src/map/config.js
Due: eslint --fix

2.8.1
  package.json
  workers-dist/fast-tiles-worker.js
  workers-dist/fast-tiles-worker.js.map
Due: eslint --fix

working intermediate arraybuffer format
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/test/aggregate.test.js
Due: eslint --fix

fix nav header styles
  src/header/template.html
Due: none

2.8.2
  package.json
Due: none

pass all tests
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/test/aggregate.test.js
Due: eslint --fix

single frame mode
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/test/aggregate.test.js
Due: eslint --fix

Use unsigned arraybuffer
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/test/aggregate.test.js
Due: eslint --fix

remove react as dev dependency
  package.json
  yarn.lock
Due: none

working single frame mode and cached tiles
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/index.js
  src/fast-tiles-worker/test/aggregate.test.js
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

CR
  readme.md
  src/fast-tiles-worker/aggregate.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
Due: eslint --fix

fixed tests - put back react as dev dep
  package.json
  src/layer-manager/lib/generators/heatmap/heatmap.js
  src/layer-manager/test/generators/heatmap.test.js
Due: eslint --fix

2.9.0
  package.json
Due: none

include scripts in npm deploy
  package.json
Due: none

2.9.1
  package.json
Due: none

2.9.1
  package.json
  workers-dist/fast-tiles-worker.js
Due: eslint --fix

2.9.2
  package.json
Due: none

use https for fast_tiles url
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

2.9.3
  package.json
Due: none

fix test
  src/layer-manager/test/generators/heatmap.test.js
Due: eslint --fix

scale color ramp and compute legend
  src/layer-manager/lib/generators/heatmap/heatmap.js
  workers-dist/fast-tiles-worker.js
  workers-dist/fast-tiles-worker.js.map
Due: eslint --fix

cleanup
  workers-dist/fast-tiles-worker.js
  workers-dist/fast-tiles-worker.js.map
Due: eslint --fix

simplify color ramps handling
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

use pro env for events api layers
  src/map/glmap/gl-styles/style.json
Due: none

2.2.19
  package.json
Due: none

2.9.4
  package.json
Due: none

fix test and run those in pre-push hook
  package.json
  src/layer-manager/test/generators/heatmap.test.js
Due: eslint --fix

fixed non-singleFrame mode
  src/layer-manager/lib/generators/heatmap/heatmap.js
  src/layer-manager/test/generators/heatmap.test.js
Due: eslint --fix

generate worker sourcemap
  rollup.config.js
Due: eslint --fix

2.9.5
  package.json
Due: none

namespace heatmap consts
  src/layer-manager/lib/generators/heatmap/heatmap.js
  src/layer-manager/lib/generators/index.js
  src/layer-manager/test/generators/heatmap.test.js
Due: eslint --fix

debounced delta update, support for multiple promises
  src/layer-manager/lib/generators/heatmap/heatmap.js
  src/layer-manager/lib/layer-manager-lib.js
  yarn.lock
Due: eslint --fix

blob and extruded styles
  src/layer-manager/lib/generators/heatmap/heatmap-layers-paint.js
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

use ts-node to prerender header html
  package.json
  src/header/render-html.tsx
  tsconfig.json
  yarn.lock
Due: none

header inverted and mini version
  sandbox/src/header/header.js
  sandbox/src/header/header.module.css
  src/header/header.css
  src/header/header.js
  src/header/header.jsx
  src/header/header.mdx
  src/header/html/header-inverted.html
  src/header/html/header-mini-inverted.html
  src/header/html/header-mini.html
  src/header/html/header.html
  src/header/render-html.tsx
  src/header/template.html
Due: prettier --write, stylelint --fix, eslint --fix

run prerender in build script
  package.json
  src/header/html/header-inverted.html
  src/header/html/header-mini-inverted.html
  src/header/html/header-mini.html
  src/header/html/header.html
  src/header/index.js
  src/header/render-html.tsx
  src/index.js
Due: eslint --fix
