Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

Miniglobe component
  package.json
  rollup.config.js
  src/components/example/example.css
  src/components/example/example.js
  src/components/miniglobe/miniglobe.css
  src/components/miniglobe/miniglobe.js
  src/components/miniglobe/ne_110m_land.json
  src/index.js
  workspace/public/index.html
  workspace/src/App.js
  yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

Docz for components documentation
  .gitignore
  .stylelintignore
  doczrc.js
  package.json
  src/components/miniglobe/miniglobe.mdx
  yarn.lock
Due: prettier --write, eslint --fix

Fix import documentation
  readme.md
Due: none

Fix git url
  readme.md
Due: none

Fix repository url
  package.json
Due: none

Doczr theme and root page
  doczrc.js
  src/index.mdx
Due: prettier --write, eslint --fix

How to release
  readme.md
Due: none

0.1.0
  package.json
Due: none

Update sandbox name
  readme.md
  sandbox/.gitignore
  sandbox/README.md
  sandbox/package.json
  sandbox/public/favicon.ico
  sandbox/public/index.html
  sandbox/public/manifest.json
  sandbox/src/App.css
  sandbox/src/App.js
  sandbox/src/App.test.js
  sandbox/src/index.css
  sandbox/src/index.js
  sandbox/yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

Update readme.md
  readme.md
Due: none

Update index.mdx
  src/index.mdx
Due: none

Include documentation link
  readme.md
Due: none

Rename sandbox folder
  src/index.js
  src/miniglobe/miniglobe.css
  src/miniglobe/miniglobe.js
  src/miniglobe/miniglobe.mdx
  src/miniglobe/ne_110m_land.json
Due: prettier --write, stylelint --fix, eslint --fix

Documenting how to document
  readme.md
Due: none

Fix timebar dependencies
  .babelrc
  package.json
  yarn.lock
Due: none

Fix svg export and update spring version
  package.json
  rollup.config.js
  src/index.js
  src/timebar/TimelineUnits.js
  src/timebar/charts/Activity.js
  src/timebar/charts/Events.js
  src/timebar/charts/VesselEvents.js
  src/timebar/index.html
  yarn.lock
Due: prettier --write, eslint --fix

Timebar sandbox working
  sandbox/package.json
  sandbox/src/App.css
  sandbox/src/App.js
  sandbox/src/miniglobe/miniglobe.js
  sandbox/src/timebar/mocks/activity.js
  sandbox/src/timebar/mocks/events.js
  sandbox/src/timebar/mocks/groupVesselEvents.js
  sandbox/src/timebar/mocks/vesselEvents.js
  sandbox/src/timebar/timebar.css
  sandbox/src/timebar/timebar.js
  sandbox/yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

Use svgr to export svgs
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Include timebar docz example
  src/timebar/Timebar.js
  src/timebar/charts/VesselEvents.js
  src/timebar/components/Bookmark.css
  src/timebar/components/Bookmark.js
  src/timebar/components/DateSelector.css
  src/timebar/components/DateSelector.js
  src/timebar/components/TimeRangeSelector.css
  src/timebar/components/TimeRangeSelector.js
  src/timebar/components/Timeline.css
  src/timebar/components/Timeline.js
  src/timebar/components/TimelineHandler.css
  src/timebar/components/TimelineHandler.js
  src/timebar/components/TimelineUnits.css
  src/timebar/components/TimelineUnits.js
  src/timebar/timebar.mdx
Due: prettier --write, stylelint --fix, eslint --fix

clarify docs
  readme.md
Due: none

Sandbox documentation
  sandbox/README.md
Due: none

Uglify dist code
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Include component description
  src/miniglobe/miniglobe.mdx
  src/timebar/timebar.mdx
Due: none

0.2.0
  package.json
Due: none

Move dayjs and react-spring to peer dependencies
  package.json
  src/index.mdx
  yarn.lock
Due: none

0.2.1
  package.json
Due: none

Fix peer as devDependencies
  package.json
  sandbox/yarn.lock
  yarn.lock
Due: none

added <CountryFlag>
  package.json
  sandbox/src/App.js
  sandbox/src/countryflag/index.js
  src/countryflag/countryflag.js
  src/countryflag/countryflag.mdx
  src/index.js
  yarn.lock
Due: prettier --write, eslint --fix

accessible emoji
  src/countryflag/countryflag.js
Due: prettier --write, eslint --fix

allow size configuration and default size
  sandbox/src/countryflag/index.js
  src/countryflag/countryflag.js
Due: prettier --write, eslint --fix

0.3.0
  package.json
Due: none

Rollup config to have multiple entry points
  package.json
  rollup.config.js
  sandbox/yarn.lock
  yarn.lock
Due: prettier --write, eslint --fix

Include index entry point for components
  src/countryflag/index.js
  src/miniglobe/index.js
  src/timebar/index.js
Due: prettier --write, eslint --fix

Use new separated bundled componets in sandbox
  sandbox/src/countryflag/index.js
  sandbox/src/miniglobe/miniglobe.js
  sandbox/src/timebar/timebar.js
Due: prettier --write, eslint --fix
