Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

3.8.0
  package.json
Due: none

timebar: tooltips colorLabel
  src/timebar/charts/tracks-events.js
Due: eslint --fix

3.8.1
  package.json
Due: none

timebar tooltip fixes
  src/timebar/charts/tracks-events.module.css
Due: prettier --write, stylelint --fix

fixed timebar crash
  src/timebar/components/timeline.js
Due: eslint --fix

fix bookmark crash
  src/timebar/components/timeline.js
Due: eslint --fix

3.8.2
  package.json
Due: none

timebar graph dont show highlighted values @ gaps
  src/timebar/charts/highlighter.js
Due: eslint --fix

added timebar graph min height
  src/timebar/charts/activity.js
Due: eslint --fix

3.8.3
  package.json
Due: none

timebar highlighter format
  src/timebar/charts/highlighter.js
Due: eslint --fix

3.8.4
  package.json
Due: none

fixed bookmark issue
  src/timebar/charts/activity.js
  src/timebar/components/timeline.js
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix, eslint --fix

3.8.5
  package.json
Due: none

timebar: do not show tooltip when out of bounds
  src/timebar/charts/tracks-events.js
  src/timebar/components/timeline.js
Due: eslint --fix

3.8.6
  package.json
Due: none

fixed timebar z-indexes
  src/timebar/charts/highlighter.module.css
  src/timebar/charts/tracks-events.module.css
  src/timebar/components/timeline-handler.module.css
  src/timebar/components/timerange-selector.module.css
  src/timebar/timebar-settings.module.css
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix

3.8.7
  package.json
Due: none

timebar utc fix and hover callback
  src/timebar/charts/tracks-events.js
  src/timebar/constants.js
  src/timebar/timebar.js
Due: eslint --fix

3.8.8
  package.json
Due: none

use timeline gen props as context
  src/timebar/charts/activity.js
  src/timebar/charts/highlighter.js
  src/timebar/charts/tracks-events.js
  src/timebar/charts/tracks.js
  src/timebar/components/timeline.js
Due: eslint --fix

fixed interact wwhile playing issue
  src/timebar/components/timeline.js
Due: eslint --fix

explicitely pass props
  src/timebar/timebar.js
Due: eslint --fix

3.8.9
  package.json
Due: none

3.8.10
  package.json
  src/map/heatmap/heatmapTiles.actions.js
Due: eslint --fix

3.8.11
  package.json
Due: none

remove old components
  sandbox/src/App.js
  sandbox/src/countryflag/countryflag.js
  sandbox/src/header/header.js
  sandbox/src/header/header.module.css
  sandbox/src/layer-manager/layer-manager.js
  sandbox/src/layer-manager/layer-manager.module.css
  sandbox/src/miniglobe/miniglobe.js
  src/countryflag/countryflag.js
  src/countryflag/countryflag.mdx
  src/countryflag/index.js
  src/header/header-scripts.html
  src/header/header.css
  src/header/header.jsx
  src/header/header.mdx
  src/header/html/header-inverted.html
  src/header/html/header-mini-inverted.html
  src/header/html/header-mini.html
  src/header/html/header.html
  src/header/index.js
  src/header/render-html.tsx
  src/index.js
  src/layer-composer-hook/LayerComposer.js
  src/layer-composer-hook/LayerComposer.test.js
  src/layer-composer-hook/README.md
  src/layer-composer-hook/index.js
  src/layer-composer-hook/useLayerComposer.js
  src/miniglobe/index.js
  src/miniglobe/miniglobe.js
  src/miniglobe/miniglobe.mdx
  src/miniglobe/miniglobe.module.css
  src/miniglobe/ne_110m_land.json
  types/components/countryflag.d.ts
  types/components/map-styler-hook.d.ts
  types/components/miniglobe.d.ts
  types/index.d.ts
Due: prettier --write, stylelint --fix, eslint --fix

restore legacy timebar version
  src/timebar/charts/activity.js
  src/timebar/charts/activity.module.css
  src/timebar/charts/highlighter.js
  src/timebar/charts/highlighter.module.css
  src/timebar/charts/tracks-events.js
  src/timebar/charts/tracks-events.module.css
  src/timebar/charts/tracks.js
  src/timebar/charts/tracks.module.css
  src/timebar/charts/utils/index.js
  src/timebar/charts/vessel-events.js
  src/timebar/components/bookmark.js
  src/timebar/components/bookmark.module.css
  src/timebar/components/playback.js
  src/timebar/components/playback.module.css
  src/timebar/components/timeline-handler.module.css
  src/timebar/components/timeline-units.js
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
  src/timebar/components/timerange-selector.js
  src/timebar/components/timerange-selector.module.css
  src/timebar/constants.js
  src/timebar/icons/events/loitering.svg
  src/timebar/icons/events/port.svg
  src/timebar/index.js
  src/timebar/layouts/index.js
  src/timebar/timebar-settings.module.css
  src/timebar/timebar.js
  src/timebar/timebar.module.css
  src/timebar/utils.js
  src/timebar/utils/index.js
Due: prettier --write, stylelint --fix, eslint --fix, imagemin-lint-staged

fix lintstaged warning
  .lintstagedrc
Due: none

update readme
  readme.md
Due: none

dont run test
  package.json
Due: none

remove country flag dependency
  package.json
Due: none

Update readme.md
  readme.md
Due: none

fix build and remove console log
  package.json
  src/map/heatmap/heatmapTiles.actions.js
  yarn.lock
Due: eslint --fix

3.8.12
  package.json
Due: none

fixed encounters layer
  package.json
  src/map/glmap/gl-styles/style.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.scss)
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  eslint --fix: any of: *.{js,jsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
