Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

Fix mapbox missing css warning
  package.json
  yarn.lock
Due: none

Fix map popup proptypes
  src/map/glmap/Map.js
Due: eslint --fix

Update react version
  package.json
  yarn.lock
Due: none

Allow to input timebar days and years with keyboard
  src/timebar/components/date-selector.js
  src/timebar/components/date-selector.module.css
  src/timebar/components/timerange-selector.js
  src/timebar/timebar.js
Due: prettier --write, stylelint --fix, eslint --fix

Fit base font-size and fix responsive
  sandbox/public/index.html
  sandbox/src/index.css
Due: prettier --write, stylelint --fix

Use select for months
  src/timebar/components/date-selector.js
  src/timebar/components/date-selector.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Render correct list of months
  src/timebar/components/date-selector.js
Due: eslint --fix

Allow external margin in countryflag
  src/countryflag/countryflag.js
Due: eslint --fix

Fix emoji support
  package.json
  yarn.lock
Due: none

1.7.1
  package.json
Due: none

Add npm version badge
  readme.md
Due: none

Format style.json
  src/map/glmap/gl-styles/style.json
Due: none

Add world encounters style
  src/map/glmap/gl-styles/style.json
Due: none

Accurate dates validation
  src/timebar/components/date-selector.js
  src/timebar/components/timerange-selector.js
  src/timebar/components/timerange-selector.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Use @satellite eslint config
  .eslintrc
  .prettierrc
  .prettierrc.js
  package.json
  yarn.lock
Due: eslint --fix

fixed map loading dispatchers
  src/map/heatmap/heatmap.actions.js
  src/map/module/module.actions.js
Due: eslint --fix

fixed heatmap first display
  src/map/activity/ActivityLayers.js
  src/map/map.js
Due: eslint --fix

1.7.2
  package.json
Due: none

fixed issue with custom GeoJSON layers
  src/map/glmap/style.actions.js
Due: eslint --fix

1.7.3
  package.json
  yarn.lock
Due: none

Update readme.md
  readme.md
Due: none

Fix crash when no heatmap layers
  src/map/heatmap/heatmap.actions.js
  src/map/map.js
Due: eslint --fix

Fix crash when timeline ref not ready
  src/timebar/components/timeline.js
Due: eslint --fix

1.7.4
  package.json
Due: none

trully disabled btn style
  src/timebar/components/timerange-selector.module.css
Due: prettier --write, stylelint --fix

😡
  src/timebar/components/date-selector.js
  src/timebar/components/timerange-selector.js
Due: eslint --fix

timebar proptypes and bookmarkchange check
  src/timebar/timebar.js
Due: eslint --fix

discard timerange selector when really clicking outside
  src/timebar/components/timerange-selector.js
  src/timebar/components/timerange-selector.module.css
Due: prettier --write, stylelint --fix, eslint --fix

timebar continuous date selector press
  src/timebar/components/date-selector.js
Due: eslint --fix

added missing dependency causing eslint to fail
  package.json
  yarn.lock
Due: none

Basic timeline interval play
  src/timebar/timebar.js
Due: eslint --fix

Playback timeline ui actions
  sandbox/src/timebar/timebar.js
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
  src/timebar/icons/loop.svg
  src/timebar/icons/pause.svg
  src/timebar/timebar-settings.module.css
  src/timebar/timebar.js
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix, eslint --fix, imagemin-lint-staged

Fix infinite loop on timebar speed change
  src/timebar/charts/vessel-events.js
  src/timebar/timebar.js
Due: eslint --fix

move immediate switch to Context
  src/timebar/charts/activity.js
  src/timebar/components/bookmark.js
  src/timebar/components/timeline-units.js
  src/timebar/components/timeline.js
  src/timebar/immediateContext.js
  src/timebar/timebar.js
Due: eslint --fix
