Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

basic track/fishing graph
  sandbox/src/timebar/timebar.js
  src/timebar/charts/tracks.js
  src/timebar/charts/tracks.module.css
  src/timebar/index.js
  src/timebar/timebar-settings.module.css
Due: prettier --write, stylelint --fix, eslint --fix

added css transitions
  src/timebar/charts/tracks.js
  src/timebar/charts/tracks.module.css
Due: prettier --write, stylelint --fix, eslint --fix

multiple tracks
  sandbox/src/timebar/timebar.js
  src/timebar/charts/tracks.js
Due: eslint --fix

segmentize activity chart
  sandbox/src/timebar/timebar.js
  src/timebar/charts/activity.js
Due: eslint --fix

cluster track points for better perf
  sandbox/src/timebar/mocks/trackWithFishingSpeedAndCourse.json
  sandbox/src/timebar/timebar.js
  src/timebar/charts/tracks.js
  src/timebar/charts/tracks.module.css
Due: prettier --write, stylelint --fix, eslint --fix

basic highlighter component
  sandbox/src/timebar/timebar.js
  src/timebar/charts/highlighter.js
  src/timebar/charts/highlighter.module.css
  src/timebar/index.js
Due: prettier --write, stylelint --fix, eslint --fix

fix generator classes crash in minified code
  .babelrc
  package.json
  rollup.config.js
  src/countryflag/countryflag.js
  yarn.lock
Due: eslint --fix

2.4.1
  package.json
Due: none

highlighter tooltip
  sandbox/src/timebar/timebar.js
  src/timebar/charts/highlighter.js
  src/timebar/charts/highlighter.module.css
  src/timebar/charts/vessel-events.js
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
  src/timebar/constants.js
  src/timebar/utils.js
Due: prettier --write, stylelint --fix, eslint --fix

add carriers portal port carto layer
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
Due: eslint --fix

2.4.2
  package.json
Due: none

show current value in highlighter
  sandbox/src/timebar/timebar.js
  src/timebar/charts/highlighter.js
  src/timebar/charts/highlighter.module.css
  src/timebar/components/timeline.js
  src/timebar/constants.js
  src/timebar/utils.js
Due: prettier --write, stylelint --fix, eslint --fix

fix bookmark anim + move to functional comp
  src/timebar/components/bookmark.js
Due: eslint --fix

fixed playback at end bug
  src/timebar/components/playback.js
Due: eslint --fix

disable stop button when stopped at end
  src/timebar/components/playback.js
  src/timebar/components/playback.module.css
Due: prettier --write, stylelint --fix, eslint --fix

fix zoom to unit/abs bounds issue
  sandbox/src/timebar/timebar.js
  src/timebar/components/timeline-units.js
Due: eslint --fix

export track bounds utils
  src/map/index.js
  src/map/tracks/tracks.actions.js
  src/map/utils/getTrackBounds.js
Due: eslint --fix

move geosjon to tracks conversion util
  sandbox/src/timebar/timebar.js
  src/timebar/utils.js
  src/timebar/utils/index.js
Due: eslint --fix

make activity optional
  src/timebar/charts/highlighter.js
Due: eslint --fix

add gl custom style generator
  src/layer-manager/lib/generators/gl/gl.js
  src/layer-manager/lib/generators/index.js
Due: eslint --fix

add gl style generator
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/gl/gl.js
  src/layer-manager/lib/generators/index.js
Due: eslint --fix

2.5.0
  package.json
Due: none

normalize gl visibility and update carto selectedFeatures
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
  src/layer-manager/lib/generators/gl/gl.js
Due: eslint --fix

2.5.1
  package.json
Due: none

move feature segments as util
  sandbox/src/timebar/timebar.js
  src/timebar/utils.js
Due: eslint --fix

fix docz
  .babelrc
  package.json
  src/countryflag/countryflag.mdx
  src/map/map.mdx
  src/miniglobe/miniglobe.mdx
  src/timebar/timebar.mdx
  yarn.lock
Due: none

fix sandbox dependency
  sandbox/package.json
  sandbox/yarn.lock
Due: none

add ports info in query
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
Due: none

2.5.2
  package.json
Due: none

fix layers order
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
Due: eslint --fix

2.5.3
  package.json
Due: none

fix source not found warning
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
Due: eslint --fix

2.5.4
  package.json
Due: none

Handle country flag crashes
  sandbox/src/countryflag/countryflag.js
  src/countryflag/countryflag.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
Due: eslint --fix

Try to fix sources warning, again
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
Due: eslint --fix

2.5.5
  package.json
Due: none

CR
  sandbox/src/timebar/timebar.js
  src/timebar/charts/activity.js
  src/timebar/components/playback.module.css
  src/timebar/timebar-settings.module.css
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.scss)
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  eslint --fix: any of: *.{js,jsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
