Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

added const for time format
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Selected event highlight without tooltip
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Add event vessel event callback click
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Fix typo on default prop
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Calculate bounds when track data instead of url
  src/map/tracks/tracks.actions.js
Due: prettier --write, eslint --fix

1.4.0
  package.json
Due: none

Update publish step
  readme.md
Due: none

Send 3rd param on mouse change to know when we are within a day range
  src/timebar/components/timeline.js
Due: prettier --write, eslint --fix

follow event API changes in Timebar
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Fix minified version
  package.json
  rollup.config.js
  src/timebar/charts/activity.js
  src/timebar/components/timeline-units.js
  src/timebar/components/timeline.js
  yarn.lock
Due: prettier --write, eslint --fix

restore redux-devtools in map
  src/map/map.js
Due: prettier --write, eslint --fix

1.4.1
  package.json
Due: none

timebar: move fishing events behind others
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Fix map crash when unmounting
  src/map/glmap/Map.js
Due: prettier --write, eslint --fix

Stop requesting workspace after unmount
  sandbox/src/map/map.js
Due: prettier --write, eslint --fix

Include autoprefixer for css
  package.json
  rollup.config.js
  src/timebar/components/timerange-selector.js
  src/timebar/components/timerange-selector.module.css
  yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

Add browserslist config
  package.json
Due: none

1.5.0
  package.json
Due: none

Add vessel event class to style from outside
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Include proptypes eslint rules
  .eslintrc
  package.json
  yarn.lock
Due: none

Allow custom url tiles for static layers
  sandbox/src/map/map.js
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

Proptypes and avoid anonymous functions
  src/map/glmap/Map.js
Due: prettier --write, eslint --fix

Add token to tiles requests
  src/map/glmap/Map.container.js
  src/map/glmap/Map.js
Due: prettier --write, eslint --fix

Move tiles url to config param
  src/map/config.js
  src/map/glmap/Map.js
Due: prettier --write, eslint --fix

Fix className warning
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Add map default proptypes
  src/map/map.js
Due: prettier --write, eslint --fix

Update static layer url prop documentation
  src/map/README.md
Due: none

Better var names
  src/map/config.js
  src/map/glmap/Map.js
Due: prettier --write, eslint --fix

Show encountered vessel ssvid when no name
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

1.5.1
  package.json
  src/map/glmap/style.reducer.js
Due: prettier --write, eslint --fix

1.6.0
  package.json
Due: none

Proper map code splitting
  src/map/basemaps/index.js
  src/map/glmap/viewport.reducer.js
  src/map/index.js
  src/map/map.js
  src/map/store/index.js
  src/map/store/reducers.js
  src/map/tracks/tracks.actions.js
Due: prettier --write, eslint --fix

Avoid running prettier twice
  .eslintrc
  .lintstagedrc
Due: none

1.7.0
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.scss)) or (any of: *.{js,jsx})
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  eslint --fix: any of: *.{js,jsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
