Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

basic timebar events
  src/timebar/charts/tracks-events.js
  src/timebar/charts/tracks-events.module.css
  src/timebar/charts/tracks.js
  src/timebar/charts/utils/index.js
  src/timebar/index.js
Due: prettier --write, stylelint --fix, eslint --fix

update countryflag dependency
  package.json
  yarn.lock
Due: none

3.2.2
  package.json
Due: none

added tooltip
  src/timebar/charts/tracks-events.js
  src/timebar/charts/tracks-events.module.css
  src/timebar/icons/events/port.svg
Due: prettier --write, stylelint --fix, eslint --fix, imagemin-lint-staged

sort events by duration
  src/timebar/charts/tracks-events.js
  src/timebar/charts/vessel-events.js
Due: eslint --fix

added click handler
  src/timebar/charts/tracks-events.js
Due: eslint --fix

loitering icon
  src/timebar/charts/tracks-events.js
  src/timebar/icons/events/loitering.svg
Due: eslint --fix, imagemin-lint-staged

3.3.0
  package.json
Due: none

added preselectedEventId param in Timebar`s TrackEvents
  src/timebar/charts/tracks-events.js
Due: eslint --fix

3.4.0
  package.json
Due: none

use simpler track formnat and remove support for points
  src/timebar/charts/tracks.js
  src/timebar/utils/index.js
Due: eslint --fix

3.5.0
  package.json
Due: none

update countryflag version
  package.json
  yarn.lock
Due: none

3.4.1
  package.json
Due: none

3.5.1
  package.json
Due: none

remove console log
  src/timebar/charts/tracks.js
Due: eslint --fix

timebar: use ResizeObserver when possible
  src/timebar/components/timeline.js
Due: eslint --fix

timebar: added default minrange
  src/timebar/timebar.js
Due: eslint --fix

timebar: block interaction on play`
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
  src/timebar/timebar.js
Due: prettier --write, stylelint --fix, eslint --fix

3.6.0
  package.json
Due: none

fixed timebar interaction issue
  src/timebar/components/timeline.js
Due: eslint --fix

3.7.0
  package.json
Due: none

allow custom evnts height
  src/timebar/charts/tracks-events.js
Due: eslint --fix

3.7.1
  package.json
Due: none

timebar graph configurable maxValue
  src/timebar/charts/activity.js
Due: eslint --fix

3.7.2
  package.json
Due: none

highlighter with multiple tracks
  src/timebar/charts/highlighter.js
Due: eslint --fix

fixed graph order
  src/timebar/charts/activity.js
Due: eslint --fix

3.7.3
  package.json
Due: none

timebar: showLastUpdate param
  src/timebar/components/timeline.js
Due: eslint --fix
