Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

Fix styles imports
  src/index.js
  src/miniglobe/miniglobe.js
  src/miniglobe/miniglobe.module.css
  src/timebar/charts/activity.js
  src/timebar/charts/activity.module.css
  src/timebar/charts/events.js
  src/timebar/charts/events.module.css
  src/timebar/charts/vessel-events.js
  src/timebar/charts/vessel-events.module.css
  src/timebar/components/bookmark.js
  src/timebar/components/bookmark.module.css
  src/timebar/components/date-selector.js
  src/timebar/components/date-selector.module.css
  src/timebar/components/timeline-handler.js
  src/timebar/components/timeline-handler.module.css
  src/timebar/components/timeline-units.js
  src/timebar/components/timeline-units.module.css
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
  src/timebar/components/timerange-selector.js
  src/timebar/components/timerange-selector.module.css
  src/timebar/index.js
  src/timebar/timebar.js
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Highlight track by highlightTemporalExtent
  sandbox/src/map/map.js
  src/map/activity/ActivityLayers.container.js
  src/map/map.js
  src/map/module/module.selectors.js
  src/map/tracks/tracks.selectors.js
Due: prettier --write, eslint --fix

fixed wrong equality test
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

0.7.0
  package.json
Due: none

0.8.0
  package.json
Due: none

timebar removed docked at
  src/timebar/charts/VesselEvents.js
Due: prettier --write, eslint --fix

added space for svg flags
  src/countryflag/countryflag.js
Due: prettier --write, eslint --fix

0.8.1
  package.json
Due: none

Fix highlighTemporalExtent reset
  sandbox/src/map/map.js
  src/map/activity/ActivityLayers.container.js
  src/map/map.js
Due: prettier --write, eslint --fix

Timebar onMouseMove callback
  sandbox/src/timebar/timebar.js
  src/timebar/components/timeline.js
Due: prettier --write, eslint --fix

stop spamming highlightedEvents
  sandbox/src/timebar/timebar.js
  src/timebar/charts/vessel-events.js
Due: prettier --write, eslint --fix

Dispatch set_map_cursor only when needed
  src/map/glmap/interaction.actions.js
Due: prettier --write, eslint --fix

simplified initial style.json by automatically setting defaults
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.reducer.js
Due: prettier --write, eslint --fix

0.8.2
  package.json
Due: none

Not minify code for testing
  rollup.config.js
  src/index.mdx
  yarn.lock
Due: prettier --write, eslint --fix

0.8.3
  package.json
Due: none

fixed issue with timeline UI overlapping tooltips
  sandbox/src/timebar/timebar.js
  src/timebar/charts/vessel-events.js
  src/timebar/components/timeline.js
Due: prettier --write, eslint --fix

add group info to gl json layers
  src/map/glmap/gl-styles/style.json
Due: none

draw tracks layers behind temporal layers
  src/map/config.js
  src/map/glmap/Map.container.js
Due: prettier --write, eslint --fix

fixed sending wrong scale in timebar move callback
  src/timebar/components/timeline.js
Due: prettier --write, eslint --fix

better onMouseMove debug in sandbox
  sandbox/src/timebar/timebar.css
  sandbox/src/timebar/timebar.js
Due: prettier --write, stylelint --fix, eslint --fix

remove unnecessary layout
  src/map/tracks/tracks.selectors.js
Due: prettier --write, eslint --fix

Build docz after publish
  package.json
  src/countryflag/countryflag.mdx
Due: none

1.0.0
  package.json
Due: none

do not use docz globally
  package.json
Due: none

Fix dev dependency on distrubuted code
  .eslintrc
  rollup.config.js
Due: prettier --write, eslint --fix

1.0.1
  package.json
Due: none

Fix dev dependency crash on production
  src/map/map.js
Due: prettier --write, eslint --fix

1.0.2
  package.json
Due: none

[WIP] live workspace update
  sandbox/package.json
  sandbox/src/map/map.css
  sandbox/src/map/map.js
  sandbox/workspace.json
  sandbox/workspace_.json
  sandbox/yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

fixed glyphs path and crash with static layers
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

working static layers
  sandbox/src/map/map.js
  sandbox/workspace.json
Due: prettier --write, eslint --fix

timebar: fixed rendering issues and added tracks
  sandbox/src/timebar/mocks/vesselEvents.js
  sandbox/src/timebar/timebar.js
  src/timebar/charts/vessel-events.js
  src/timebar/charts/vessel-events.module.css
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix, eslint --fix

1.1.0
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.scss)) or (any of: *.{js,jsx})
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  eslint --fix: any of: *.{js,jsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
