Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

Fix crash when no coordinateProperties in fishing points
  src/map/tracks/tracks.selectors.js
Due: eslint --fix

1.8.3
  package.json
Due: none

apply temporal extent when instanciating wkspc gl layers
  src/map/glmap/style.actions.js
Due: eslint --fix

sandbox test stuff
  sandbox/src/map/map.js
Due: eslint --fix

properly cleanup heatmap layers
  src/map/activity/ActivityLayers.js
  src/map/glmap/Map.container.js
  src/map/heatmap/heatmap.reducer.js
Due: eslint --fix

allow setting popup fields for workspace gl layers
  src/map/glmap/interaction.actions.js
  src/map/glmap/style.actions.js
Due: eslint --fix

sandbox
  sandbox/src/map/map.js
Due: eslint --fix

added throttled mode
  src/map/glmap/style.actions.js
Due: eslint --fix

Adds a message when one or both DateSelectors can be increased or decreased
  src/timebar/components/timerange-selector.js
  src/timebar/components/timerange-selector.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Data tile parsing in worker
  package.json
  src/map/heatmap/heatmap.actions.js
  src/map/heatmap/heatmap.workers.js
  yarn.lock
Due: eslint --fix

1.9.0
  package.json
Due: none

removed seriesgroup
  src/map/README.md
  src/map/activity/ActivityLayers.js
  src/map/heatmap/heatmap.actions.js
  src/map/proptypes/tracks.js
  src/map/tracks/tracks.actions.js
  src/map/utils/heatmapTileData.js
Due: eslint --fix

deprecate isPBF (PBF pixi layers)
  src/map/README.md
  src/map/heatmap/heatmap.actions.js
  src/map/proptypes/layers.js
  src/map/utils/heatmapTileData.js
Due: eslint --fix

fixed issue with cluster behavior cursor
  src/map/glmap/interaction.actions.js
Due: eslint --fix

add polyfills for ie in sandbox
  sandbox/src/index.js
Due: eslint --fix

bump countryflag version
  package.json
  yarn.lock
Due: none

1.9.1
  package.json
Due: none

bump map countryflag version to fix ie
  package.json
  yarn.lock
Due: none

1.9.2
  package.json
Due: none

bump map components version
  package.json
  yarn.lock
Due: none

1.9.3
  package.json
Due: none

1.9.4
  package.json
Due: none

CR: use native Mapbox cluster zoom
  sandbox/src/map/map.js
  src/map/README.md
  src/map/config.js
  src/map/glmap/interaction.actions.js
  src/map/glmap/viewport.actions.js
Due: eslint --fix

linting and cleaning up
  sandbox/src/map/map.js
  src/map/glmap/interaction.actions.js
  src/map/glmap/style.actions.js
  src/map/lib/Pack.js
  src/map/lib/pelagosClient.js
  src/map/utils/getPBFTile.js
  src/map/utils/heatmapTileData.js
Due: eslint --fix

Update README.md
  src/map/README.md
Due: none

2.0.0
  package.json
Due: none

moved tracks on top of temporal layers
  src/map/config.js
  src/map/glmap/Map.container.js
Due: eslint --fix

increased click tolerance
  src/map/glmap/Map.js
Due: eslint --fix

use custom gl layer group for z order
  src/map/glmap/Map.container.js
  src/map/glmap/style.actions.js
  src/map/glmap/style.reducer.js
Due: eslint --fix

2.0.1
  package.json
Due: none

do not add source layer on gl custom non vector layers
  src/map/glmap/style.actions.js
Due: eslint --fix
