Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

autoreload option
  sandbox/.gitignore
  sandbox/README.md
  sandbox/src/map/map.css
  sandbox/src/map/map.js
  sandbox/workspace.json
Due: prettier --write, stylelint --fix, eslint --fix

do not version test workspaces
  sandbox/workspace.json
  sandbox/workspace_.json
Due: none

Fixed typo in README
  sandbox/README.md
Due: none

use css modules in map sandbox
  sandbox/src/map/map.js
  sandbox/src/map/map.module.css
Due: prettier --write, stylelint --fix, eslint --fix

properties in hover and click map events
  src/map/glmap/interaction.actions.js
Due: prettier --write, eslint --fix

allow not specifying color for point and symbol layers
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

basic cluster interaction
  sandbox/src/map/map.js
  src/map/glmap/Map.container.js
  src/map/glmap/Map.js
  src/map/glmap/gl-styles/style.json
  src/map/glmap/interaction.actions.js
Due: prettier --write, eslint --fix

allow data updates in GeoJSON layers
  sandbox/src/map/map.js
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

Move properties within event target
  src/map/glmap/interaction.actions.js
Due: prettier --write, eslint --fix

added event cluster layers, removed vessel ones
  src/map/glmap/gl-styles/style.json
Due: none

sandbox: reload workspace when fetching fails
  sandbox/src/map/map.js
Due: prettier --write, eslint --fix

send full cluster info, also on hover
  sandbox/src/map/map.js
  src/map/glmap/Map.container.js
  src/map/glmap/Map.js
  src/map/glmap/interaction.actions.js
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

removed static layers filters
  src/map/README.md
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

Make url track data optional
  sandbox/src/timebar/timebar.js
  src/map/proptypes/tracks.js
  src/map/tracks/tracks.actions.js
Due: prettier --write, eslint --fix

better track action needed checks
  src/map/tracks/tracks.actions.js
Due: prettier --write, eslint --fix

Mouse move and leave callback only in graph area
  src/map/tracks/tracks.selectors.js
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
Due: prettier --write, stylelint --fix, eslint --fix

various fixes
  sandbox/src/map/map.js
  src/map/glmap/Map.js
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

style fix
  src/map/tracks/tracks.actions.js
Due: prettier --write, eslint --fix

Add sample workspace in sandbox
  sandbox/workspace.sample.json
Due: none

1.2.0
  package.json
Due: none

fix timebar events hover
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
Due: prettier --write, stylelint --fix, eslint --fix

fixed error with track hover
  src/map/glmap/Map.js
  src/map/glmap/interaction.actions.js
Due: prettier --write, eslint --fix

1.2.1
  package.json
Due: none

fixed crash on timebar
  src/timebar/components/timeline.js
Due: prettier --write, eslint --fix

1.2.2
  package.json
  src/map/glmap/Map.js
  src/map/glmap/interaction.actions.js
Due: prettier --write, eslint --fix

1.2.3
  package.json
Due: none

added support for iso3 in CountryFlag
  package.json
  sandbox/src/countryflag/countryflag.js
  src/countryflag/countryflag.js
  src/countryflag/countryflag.mdx
  yarn.lock
Due: prettier --write, eslint --fix

add left margin to country flags
  src/countryflag/countryflag.js
Due: prettier --write, eslint --fix

1.3.0
  package.json
Due: none

changed timebar vessel events mock
  sandbox/src/timebar/mocks/vesselEvents.js
Due: prettier --write, eslint --fix

Better timebar vessel events tooltips
  src/countryflag/countryflag.js
  src/timebar/charts/vessel-events.js
  src/timebar/timebar.js
Due: prettier --write, eslint --fix

put back fishing events
  src/timebar/charts/vessel-events.js
  src/timebar/charts/vessel-events.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Use new countryflag version
  package.json
  yarn.lock
Due: none

1.3.1
  package.json
  src/map/map.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.scss)) or (any of: *.{js,jsx})
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  eslint --fix: any of: *.{js,jsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
