Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

2.9.6
  package.json
Due: none

refine heatmap blob values
  src/layer-manager/lib/generators/heatmap/heatmap-layers-paint.js
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

fixed rounding issue
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

skip cells in playback mode
  src/fast-tiles-worker/aggregate.js
  src/layer-manager/lib/generators/heatmap/heatmap-layers-paint.js
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

support for opacity
  src/layer-manager/lib/generators/heatmap/heatmap.js
Due: eslint --fix

coarser anim aggregation
  src/fast-tiles-worker/aggregate.js
  src/layer-manager/lib/generators/heatmap/heatmap-layers-paint.js
Due: eslint --fix

bablic script in header
  package.json
  sandbox/package.json
  sandbox/src/header/header.js
  sandbox/yarn.lock
  src/header/header-scripts.html
  src/header/header.css
  src/header/header.jsx
  src/header/html/header-inverted.html
  src/header/html/header-mini-inverted.html
  src/header/html/header-mini.html
  src/header/html/header.html
  src/header/render-html.tsx
  yarn.lock
Due: prettier --write, stylelint --fix, eslint --fix

2.9.7
  package.json
Due: none

fix prerender scripts route
  src/header/html/header-inverted.html
  src/header/html/header-mini-inverted.html
  src/header/html/header-mini.html
  src/header/html/header.html
  src/header/render-html.tsx
Due: none

2.9.8
  package.json
Due: none

add bablic callback on ready
  package.json
  src/header/header-scripts.html
  yarn.lock
Due: none

2.9.9
  package.json
Due: none

try interval for bablic languages
  src/header/header-scripts.html
  src/header/html/header-inverted.html
  src/header/html/header-mini-inverted.html
  src/header/html/header-mini.html
  src/header/html/header.html
Due: none

2.9.10
  package.json
Due: none

include bablic script and language header render
  src/header/header.jsx
Due: eslint --fix

Update readme.md
  readme.md
Due: none

Create LICENSE
  LICENSE
Due: none

removed layer-manager
  src/index.js
  src/layer-manager/index.js
  src/layer-manager/lib/generators/background/background.js
  src/layer-manager/lib/generators/basemap/basemap-layers.json
  src/layer-manager/lib/generators/basemap/basemap.js
  src/layer-manager/lib/generators/carto-polygons/carto-polygons-layers.json
  src/layer-manager/lib/generators/carto-polygons/carto-polygons.js
  src/layer-manager/lib/generators/gl/gl.js
  src/layer-manager/lib/generators/heatmap/heatmap-layers-paint.js
  src/layer-manager/lib/generators/heatmap/heatmap.js
  src/layer-manager/lib/generators/index.js
  src/layer-manager/lib/index.js
  src/layer-manager/lib/layer-manager-lib.js
  src/layer-manager/lib/utils.js
  src/layer-manager/test/generators/heatmap.test.js
  src/layer-manager/test/layer-manager-lib.test.js
  src/map-styler-hook/README.md
  src/map-styler-hook/index.js
  src/map-styler-hook/useMapStyler.js
  src/map-styler-hook/useMapStyler.test.js
Due: eslint --fix

remove worker
  package.json
  rollup.config.js
  scripts/copy-worker.js
  src/fast-tiles-worker/aggregate.js
  src/fast-tiles-worker/constants.js
  src/fast-tiles-worker/index.js
  src/fast-tiles-worker/test/aggregate.test.js
  src/fast-tiles-worker/test/mocks/carriers-1-1-0.pbf
  src/fast-tiles-worker/test/mocks/carriers-2-3-2.pbf
Due: eslint --fix

3.0.0
  package.json
Due: none

fixed test and split hook from Component
  src/map-styler-hook/MapStyler.js
  src/map-styler-hook/index.js
  src/map-styler-hook/useMapStyler.js
  src/map-styler-hook/useMapStyler.test.js
Due: eslint --fix

removed unneeded deps
  package.json
Due: none

renamed test
  src/map-styler-hook/MapStyler.test.js
Due: eslint --fix

fix types
  .gitignore
  package.json
  types/components/layer-manager.d.ts
  types/components/map-styler-hook.d.ts
  types/index.d.ts
Due: none

3.0.1
  package.json
Due: none

added transformations to mapStyler hook
  src/map-styler-hook/useMapStyler.js
Due: eslint --fix

renamed to layer composer
  src/index.js
  src/layer-composer-hook/LayerComposer.js
  src/layer-composer-hook/LayerComposer.test.js
  src/layer-composer-hook/README.md
  src/layer-composer-hook/index.js
  src/layer-composer-hook/useLayerComposer.js
  src/map-styler-hook/index.js
  types/index.d.ts
Due: eslint --fix

3.0.2
  package.json
Due: none

add border to country flag svg fallback
  src/countryflag/countryflag.js
  yarn.lock
Due: eslint --fix

3.0.3
  package.json
Due: none

globalGeneratorConfig
  src/layer-composer-hook/useLayerComposer.js
Due: eslint --fix

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.scss)
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  eslint --fix: any of: *.{js,jsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
