Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

Add component structure documentation
  readme.md
Due: none

Rename dist to components folder
  .gitignore
  package.json
  readme.md
  sandbox/src/countryflag/index.js
  sandbox/src/miniglobe/miniglobe.js
  sandbox/src/timebar/timebar.js
Due: prettier --write, eslint --fix

0.4.0
  package.json
Due: none

Timebar workspace helper
  src/timebar/index.js
  src/timebar/utils/index.js
Due: prettier --write, eslint --fix

Use local version of map-colors
  src/map/activity/ActivityLayers.js
  src/map/glmap/style.actions.js
  src/map/heatmap/HeatmapSubLayer.js
  src/map/utils/index.js
  src/map/utils/map-colors.js
Due: prettier --write, eslint --fix

Map sandbox page
  package.json
  sandbox/src/App.js
  sandbox/src/countryflag/countryflag.js
  sandbox/src/map/map.js
  yarn.lock
Due: prettier --write, eslint --fix

0.4.1
  package.json
Due: none

Events layers
  src/map/README.md
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
  src/map/proptypes/layers.js
Due: prettier --write, eslint --fix

prettier: force parenthesis in singl arg arrow functions
  .prettierrc
Due: none

allow not specifying timeExtent in map module
  src/map/activity/ActivityLayers.container.js
  src/map/glmap/Map.container.js
  src/map/glmap/Map.js
  src/map/map.js
Due: prettier --write, eslint --fix

filter by track type
  .gitignore
  src/map/activity/ActivityLayers.container.js
  src/map/tracks/tracks.actions.js
  src/map/tracks/tracks.reducer.js
  src/map/tracks/tracks.selectors.js
Due: prettier --write, eslint --fix

move default time range to reducer
  src/map/activity/ActivityLayers.container.js
  src/map/module/module.reducer.js
  src/map/tracks/tracks.selectors.js
Due: prettier --write, eslint --fix

highlight temporal extent
  src/map/activity/ActivityLayers.container.js
  src/map/map.js
  src/map/module/module.actions.js
  src/map/module/module.reducer.js
Due: prettier --write, eslint --fix

export tools from map module
  src/map/index.js
Due: prettier --write, eslint --fix

fixed heatmap selection
  src/map/activity/ActivityLayers.container.js
  src/map/activity/ActivityLayers.js
Due: prettier --write, eslint --fix

REDUX_REMOTE_DEBUG as env
  .env.sample
  .eslintrc
  package.json
  rollup.config.js
  src/index.js
  src/map/README.md
  src/map/map.js
  yarn.lock
Due: prettier --write, eslint --fix

Add bundle visualizer
  .env.sample
  .eslintrc
  .gitignore
  package.json
  rollup.config.js
  src/map/map.js
  yarn.lock
Due: prettier --write, eslint --fix

Remove unnecessary isGeojson flag
  src/map/activity/ActivityLayers.container.js
  src/map/map.js
  src/map/tracks/tracks.actions.js
  src/map/tracks/tracks.reducer.js
  src/map/tracks/tracks.selectors.js
Due: prettier --write, eslint --fix

Prettify project with new rules
  .gitignore
  src/map/glmap/interaction.actions.js
  src/map/glmap/style.actions.js
  src/map/glmap/style.reducer.js
  src/map/glmap/viewport.actions.js
  src/map/heatmap/HeatmapLayer.js
  src/map/heatmap/heatmap.actions.js
  src/map/heatmap/heatmap.reducer.js
  src/map/heatmap/heatmapTiles.actions.js
  src/map/heatmap/heatmapTiles.reducer.js
  src/map/map.js
  src/map/module/module.selectors.js
  src/map/tracks/TracksLayer.js
  src/map/utils/getMainGeomType.js
  src/map/utils/getPBFTile.js
  src/map/utils/heatmapTileData.js
  src/map/utils/map-colors.js
  src/map/utils/withReducerTypes.js
  src/timebar/Timebar.js
  src/timebar/charts/Activity.js
  src/timebar/charts/Events.js
  src/timebar/charts/VesselEvents.js
  src/timebar/components/TimeRangeSelector.js
  src/timebar/components/Timeline.js
  src/timebar/components/TimelineHandler.js
  src/timebar/components/TimelineUnits.js
  src/timebar/utils.js
  src/timebar/utils/index.js
Due: prettier --write, eslint --fix

0.5.0
  package.json
Due: none

Fix crash when no iso2 to countryflag
  src/countryflag/countryflag.js
Due: prettier --write, eslint --fix

Include needed dependencies in bundle
  package.json
  rollup.config.js
  src/map/README.md
  src/map/map.js
  src/map/map.mdx
  yarn.lock
Due: prettier --write, eslint --fix

0.5.1
  package.json
Due: none

prefix css custom properties
  src/miniglobe/miniglobe.css
  src/timebar/Timebar.css
  src/timebar/charts/Activity.css
  src/timebar/charts/VesselEvents.css
  src/timebar/components/Bookmark.css
  src/timebar/components/DateSelector.css
  src/timebar/components/TimeRangeSelector.css
  src/timebar/components/Timeline.css
  src/timebar/components/TimelineHandler.css
  src/timebar/components/TimelineUnits.css
Due: prettier --write, stylelint --fix

Move react, redux and map-gl to peerDependencies
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write, eslint --fix

0.5.2
  package.json
Due: none

Update map dependency doc
  src/map/README.md
Due: none

fixed react error in Timebar
  src/timebar/charts/Events.js
  src/timebar/charts/VesselEvents.js
Due: prettier --write, eslint --fix

0.6.0
  package.json
Due: none

event icons
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

add support for hover callbacks on event layers
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

fixed going back to non-selected/highlighted style
  src/map/README.md
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: prettier --write, eslint --fix

Modify cra config to compile src library
  sandbox/config-overrides.js
  sandbox/package.json
  sandbox/src/countryflag/countryflag.js
  sandbox/src/map/map.js
  sandbox/src/miniglobe/miniglobe.js
  sandbox/src/timebar/timebar.js
  sandbox/yarn.lock
Due: prettier --write, eslint --fix
