Repository GlobalFishingWatch/map-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, stylelint --syntax=scss --fix, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "*.css": ["prettier --write", "stylelint --fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix", "git add"],
  "*.{js,jsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged",
    "git add"
  ]
}

toggle immediate mode on play
  src/timebar/components/playback.js
  src/timebar/timebar.js
Due: eslint --fix

move playback to won component
  src/timebar/components/playback.js
  src/timebar/components/playback.module.css
  src/timebar/timebar.js
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix, eslint --fix

replace setInterval with rAF
  src/timebar/components/playback.js
  src/timebar/timebar.js
Due: eslint --fix

implement loop and internal logic for clamping
  src/timebar/components/playback.js
  src/timebar/timebar.js
  src/timebar/utils.js
Due: eslint --fix

added fast forward/rewind
  src/timebar/charts/activity.js
  src/timebar/components/playback.js
Due: eslint --fix

created a simpler sandbox for the map
  sandbox/src/App.js
  sandbox/src/map-workspace/map-workspace.js
  sandbox/src/map-workspace/map-workspace.module.css
  sandbox/src/map/map.js
  sandbox/src/map/map.module.css
Due: prettier --write, stylelint --fix, eslint --fix

fixed source-layer in encounters
  src/map/glmap/gl-styles/style.json
Due: none

remove faulty popup field
  sandbox/src/map/map.js
  src/map/glmap/gl-styles/style.json
Due: eslint --fix

Fix horizontal scroll
  sandbox/src/timebar/timebar.js
  src/timebar/components/timeline.js
  src/timebar/components/timeline.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Fix tooltip contrast
  src/timebar/charts/vessel-events.module.css
Due: prettier --write, stylelint --fix

Review graph height for full background 100%
  src/timebar/charts/activity.js
  src/timebar/charts/events.js
  src/timebar/charts/vessel-events.js
  src/timebar/components/timeline-units.module.css
  src/timebar/timebar-settings.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Fix pause icon
  src/timebar/components/playback.js
  src/timebar/components/playback.module.css
  src/timebar/icons/pause.svg
Due: prettier --write, stylelint --fix, eslint --fix, imagemin-lint-staged

added legacy time filtering logic
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
  src/map/glmap/style.reducer.js
Due: eslint --fix

apply temporal extent to invisible layers
  src/map/glmap/style.actions.js
Due: eslint --fix

CR
  src/timebar/components/playback.js
  src/timebar/timebar.js
Due: eslint --fix

allow emitting hover events on layers without gfw:popups meta
  sandbox/src/map/map.js
  src/map/glmap/interaction.actions.js
Due: eslint --fix

ais encounters points style
  src/map/glmap/gl-styles/style.json
Due: none

Fix timebar height
  src/timebar/components/playback.module.css
  src/timebar/timebar.module.css
Due: prettier --write, stylelint --fix

allow setting color for other properties than fill
  sandbox/src/map/map.js
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: eslint --fix

fixed issue where activity layers are still interactive when hidden
  src/map/heatmap/heatmap.actions.js
Due: eslint --fix

1.8.0
  package.json
Due: none

1.8.1
  package.json
Due: none

Map interaction refacto
  sandbox/src/map/map.js
  src/map/README.md
  src/map/config.js
  src/map/glmap/Map.container.js
  src/map/glmap/Map.js
  src/map/glmap/interaction.actions.js
  src/map/glmap/viewport.actions.js
  src/map/glmap/viewport.reducer.js
  src/map/map.js
Due: eslint --fix

added isCluster function
  src/map/README.md
  src/map/glmap/interaction.actions.js
  src/map/glmap/viewport.actions.js
  src/map/glmap/viewport.reducer.js
  src/map/map.js
Due: eslint --fix

various fixes
  src/map/glmap/interaction.actions.js
  src/map/utils/heatmapTileData.js
Due: eslint --fix

add secnd heatmap layer to map sandbox
  sandbox/src/map/map.js
  src/map/glmap/interaction.actions.js
Due: eslint --fix

removed encounter logic from heatmap actions
  sandbox/src/map/map.js
  src/map/glmap/interaction.actions.js
  src/map/heatmap/heatmap.actions.js
Due: eslint --fix

show encounters layer in correct panel
  src/map/README.md
Due: none

added test Chile aquaculture layer
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: eslint --fix

Fix crash in old windows
  src/map/activity/ActivityLayers.js
Due: eslint --fix

removed Chile hack
  src/map/glmap/gl-styles/style.json
  src/map/glmap/style.actions.js
Due: eslint --fix

added support for Chile transport layer
  src/map/glmap/gl-styles/style.json
Due: none

fixed setting cluster to false
  src/map/glmap/interaction.actions.js
Due: eslint --fix

removed fallback tiles for chile layers
  src/map/glmap/gl-styles/style.json
Due: none

better support for workspace gl layers
  src/map/glmap/interaction.actions.js
  src/map/glmap/style.actions.js
  src/map/glmap/style.reducer.js
Due: eslint --fix

removed chile layers
  src/map/glmap/gl-styles/style.json
Due: none

load activity layers component only when has layers
  sandbox/src/map/map.js
  src/map/glmap/Map.container.js
  src/map/glmap/Map.js
Due: eslint --fix

Fix crash when no coordinateProperties in track
  src/map/tracks/tracks.actions.js
Due: eslint --fix

1.8.2
  package.json
  sandbox/yarn.lock
  yarn.lock
Due: none
